body{
    background-color: lightgreen;
}
#h1{
    cursor: pointer;
    transition: 0.75s;
    text-align: center;
    color: hsla(235, 68%, 51%, 1);
    animation-name: anim1;
    animation-duration: 5s;
}
@keyframes anim1{
    from{transform: translateX(150px)}
}
#h1:hover{
    font-size: 2.5em;
    color: hsla(261, 59%, 44%, 1);
}