body{
  background-color: mediumaquamarine;
}
#h1{
  font-size: 3em;
  text-align: center;
}
.container1{
  border: double;
  border-width: 5px;
  text-align: center;
  font-size: 1.5em;
}
.container2{
  border: dotted;
  border-width: 5px;
  text-align: center;
  font-size: 1.5em;
}